@media screen and (max-width: 1050px)
	.container
		width: 800px
	.search
		width: 200px
	.nav-panel
		a
			padding-left: 15px
			padding-right: 15px
	.header
		padding-top: 10px
		&__title
			display: none
		&__contacts
			margin-left: 50px

	.nav
		li
			margin-right: 15px
	.aside
		display: none

	.article
		width: 100%

	.slider
		&__title
			right: 80px
		&__img
			img
				width: 100%

	.advantages__item:nth-of-type(2)
		padding-left: 28px

	.footer
		margin-top: 0
		&__address
			margin-right: 85px
			> p
				display: none
		&__phone
			margin-top: -8px

	.nav-footer
		li
			margin-right: 23px

@media screen and (max-width: 820px)
	.mobile-btn
		display: block
	.container
		width: 100%

	.nav-panel
		position: absolute
		top: 40px
		left: 0
		width: 100%
		display: none
		float: none
		text-align: center
		background: #3383c6
		li
			display: block
		a
			padding: 7px 5px
			background: none !important
	.nav
		display: none
		z-index: 2
		position: absolute
		background: #3383c6
		padding: 0
		top: 200px
		padding-bottom: 10px
		li
			display: block
			margin-right: 0
		a
			display: block
			color: white !important
			padding: 7px 5px
			border-color: transparent
	.slider
		display: none
	.panel
		padding-top: 10px
		padding-bottom: 13px
	.panel__search
		display: none
		float: none

	.search
		margin-left: auto
		margin-right: auto

	.header
		&__logo
			img
				margin-left: auto
				margin-right: auto
		&__logo, &__contacts, &__cart
			float: none
			margin-left: auto
			margin-right: auto
			margin-bottom: 15px
			width: 270px

	.cart
		width: 100%
	
	.advantages
		width: 210px
		margin-bottom: 15px
		margin-left: auto
		margin-right: auto
		&__item
			padding-left: 0 !important
			width: 100%
			text-align: left !important
			margin-bottom: 10px
			p
				font-size: 13px
				float: right
				width: 150px
		.col
			float: none

	.section
		margin-bottom: 10px

	.section__title
		text-align: center
		margin-bottom: 5px
		&:before, &:after
			display: none

	.section__list
		text-align: center

	.section__item
		display: inline-block
		float: none
		width: 100%
		max-width: 300px
		margin-left: auto
		margin-right: auto
		margin-bottom: 10px


	.nav-footer
		display: none
	.footer
		padding-top: 25px
		&__address, &__phone, &__about
			float: none
			width: 270px
			margin-left: auto
			margin-right: auto
			margin-bottom: 20px
	
	.header
		.phone
			text-align: center
			&__callback
				margin-left: 0
		.address
			&__content
@media screen and (max-width: 520px)
	.section__title
		h2
			display: block
			margin-right: 0
		