/* Including styles files */
@import sprite
@import url('../../libs/slick-carousel/slick/slick.css')
@import url('../../libs/slick-carousel/slick/slick-theme.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans')



/* Global settings */
$font-size: 14px
$font-family-1: 'Calibri', sans-serif
$color-1: #4d4d4d



*
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white

header, nav, main, section, article, aside, footer, li, .block
	display: block

.inline-block
	display: inline-block

.hidden
	display: none



h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		display: inline-block
		font-size: $font-size
		list-style-type: none



a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: border-bottom .3s


.icon
	display: inline-block
	vertical-align: middle

.input, .button, .slick-slide
	outline: none

input, button, .slick-slide
	outline: none

button
	cursor: pointer

/* Grid */
.container
	width: (1000px + 30px)
	padding-left: 15px
	padding-right: 15px

.row, .clearfix
	&:before, &:after
		display: table
		content: ''
		box-sizing: border-box
	&:after
		clear: both

.col
	float: left
	display: block
	min-height: 1px
	&-1
		width: (100% / 1)
	&-2
		width: (100% / 2)
	&-3
		width: (100% / 3)
	&-4
		width: (100% / 4)
	&-5
		width: (100% / 5)






/* Form elements */
.input
	display: inline-block
	font-size: $font-size
	font-family: $font-family-1
	background: white
	border: 1px solid #f0f0f0
	padding: 10px 15px
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5)
	border-radius: 3px
	&:focus
		
	&_error
		border-color: red

.textarea
	font-size: $font-size
	font-family: $font-family-1
	display: block
	background: white
	resize: none
	border: 1px solid #f0f0f0
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5)
	padding: 10px 15px
	width: 100%
	border-radius: 4px
	&_error
		border-color: red


.button
	font-size: $font-size
	font-family: $font-family-1
	transition: .3s
	cursor: pointer
	width: 135px
	height: 35px
	line-height: 33px
	border: 1px solid #6aa5da
	color: #6aa5da
	font-size: 18px
	border-radius: 4px
	margin-left: auto
	margin-right: auto
	background: white
	text-align: center
	&:hover
		color: white
		background: #3383c6
		box-shadow: 0px 2px 0 rgba(1, 1, 1, 0.69)

.input, .textarea
	transition: border-color .3s



::placeholder
	color: #9c9c9c

.color-gray
	color: #878787


/* Blocks align */ 
.left
	float: left

.right
	float: right

.center, .container
	margin-left: auto
	margin-right: auto


.panel
	color: white
	background: #3383c6
	a
		color: white
		padding-left: 22px
		padding-right: 22px

	

.search
	position: relative
	width: 270px
	height: 28px
	line-height: 28px
	background: white
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25)
	padding-left: 10px
	padding-right: 32px
	border-radius: 4px
	margin-top: 7px
	::placeholder
		color: #9c9c9c
	input
		width: 100%
		font-family: Calibri
	button
		position: absolute
		right: 9px
		top: 6px
		background: none


.header
	padding-top: 20px
	&__logo
		margin-right: 58px
		img
			display: block
	&__title
		line-height: 27px
		font-size: 26px
		text-transform: uppercase
		margin-right: 80px
		span
			display: block
		.color-gray
			font-size: 21px
	.phone
		margin-bottom: 8px
		&__callback
			margin-left: 7px
	&__content
		position: relative

.phone
	&__number
		a
			color: #d53530
			font-size: 24px
			cursor: default
			span
				font-weight: 700
	&__callback
		font-size: 12px
		a
			color: #2879c1
			border-color: #2879c1
			&:hover
				border-color: transparent


.address
	font-style: normal
	font-size: 12px
	&__icon
		margin-right: 8px
	&__content
		margin-top: -1px
	a
		color: #2879c1
		border-color: #2879c1
		&:hover
			border-color: transparent

.cart
	color: white
	background: #3383c6
	width: 200px
	padding: 15px 5px 18px 12px
	border-radius: 4px
	&__counts
		margin-left: 13px
		padding-top: 3px
		span
			font-weight: 700

.nav
	padding-top: 20px
	text-align: center
	padding-bottom: 13px
	&-panel
		text-transform: uppercase
		a
			display: block
			padding: 13px 22px
			transition: .3s
			&:hover
				background: #5195ce
	&-aside
		padding: 17px 15px
		border: 1px solid #e3e3e3
		box-shadow: 0 5px 10px rgba(1, 1, 1, 0.1)
		margin-bottom: 17px
		border-radius: 3px
		li
			display: block
			font-size: 14px
			margin-bottom: 14px
			&:last-of-type
				margin-bottom: 0
		a
			&:hover
				border-color: $color-1
	li
		margin-right: 45px
		text-transform: uppercase
		&:last-of-type
			margin-right: 0
	a
		border-color: $color-1
		&:hover
			color: #3682c5
			border-color: transparent
	&-footer
		padding-bottom: 17px
		li
			margin-right: 50px
			&:last-of-type
				margin-right: 0
		a
			color: #636363
			&:hover
				border-color: #636363

.mobile-btn
	display: none
	width: 35px
	height: 22px
	cursor: pointer
	span
		position: relative
		display: block
		width: 100%
		height: 4px
		background: white
		margin-bottom: 5px
		transition: .3s
	&_toggle
		span
			&:nth-of-type(1)
				top: 9px
				transform: rotate(45deg)
			&:nth-of-type(2)
				opacity: 0
			&:nth-of-type(3)
				top: -9px
				transform: rotate(-45deg)


.aside
	width: 182px

.article
	width: 800px


.slider
	margin-bottom: 19px
	&__item
		position: relative

	&__title
		top: 40px
		position: absolute
		right: 60px
		line-height: 38px
		font-size: 37px
		text-transform: uppercase
		color: #2f2f2f
		span
			display: block
			font-size: 30px
			color: #878787
	.slick-arrow
		z-index: 1
		width: 52px
		height: 52px
		opacity: 0.8
		background: white
		border-radius: 50%
		text-align: center
		transition: .3s
		&:hover
			opacity: 1
		&:before
			display: none
	.slick-prev
		left: 12px
		.icon
			margin-top: 1px
	.slick-next
		right: 12px
		.icon
			margin-top: 1px
			margin-left: 2px


.advantages
	margin-bottom: 35px
	line-height: 40px
	&__item
		&:nth-of-type(2)
			padding-left: 35px
		&:nth-of-type(3)
			text-align: right
	.icon
		margin-right: 10px
	p
		position: relative
		top: 3px
		font-size: 16px
		font-family: "Open Sans"
	.icon, p
		display: inline-block

.section
	margin-bottom: 35px
	&__title
		position: relative
		margin-bottom: 14px
		h2, a
			display: inline-block
		h2
			font-size: 30px
			text-transform: uppercase
			margin-right: 20px
		a
			position: relative
			top: -3px
			font-size: 12px
			color: #2879c1
			border-color: #2879c1
			&:hover
				border-color: transparent
		&:after
			content: ''
			display: block
			width: 370px
			height: 2px
			background: #74acdd
		&:before
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 16px
			height: 2px
			background: #e27e44
			z-index: 1
	&__list
		margin-left: -4px
		margin-right: -4px
		&_fixed
			margin-left: 0
			margin-right: 0
	&__item
		padding-left: 4px
		padding-right: 4px
		margin-bottom: 4px 

.product
	border: 1px solid #e3e3e3
	text-align: center
	padding: 17px 10px 14px
	border-radius: 5px
	&__img
		margin-bottom: 15px
		width: 191px
		height: 191px
		text-align: center
		margin-left: auto
		margin-right: auto
		img
			display: inline-block
			margin-left: auto
			margin-right: auto
			max-width: 100%
			vertical-align: middle
	&__title
		font-size: 18px
		margin-bottom: 14px
	&__price
		margin-bottom: 10px
.price
	width: 150px
	margin-left: auto
	margin-right: auto
	&__main
		font-size: 40px
		line-height: 25px
		font-weight: 700
		padding-top: 3px
		margin-right: 9px
		span
			display: block
			color: #c1c1c1
			font-size: 14px
			font-weight: 400
	&__list
		font-size: 12px
		color: #4d4d4d
		text-align: left

.increment
	font-size: 0
	margin-bottom: 8px
	::placeholder
		color: #c1c1c1
	&__plus, &__minus
		width: 27px
		height: 28px
		line-height: 28px
		background: #ebebeb
		color: #4d4d4d
		text-align: center
		border-radius: 5px
		cursor: pointer
		font-size: 24px
		font-weight: 700
		transition: .3s
		line-height: 25px
		&:hover
			background: #D7D7D7
	&__input
		width: 64px
		height: 28px
		border: 1px solid #ebebeb
		border-radius: 4px
		font-size: 18px
		text-align: center
		margin-left: 6px
		margin-right: 6px
		font-family: Calibri
		color: #c1c1c1
		padding-left: 10px
		padding-right: 10px
	&__plus, &__input, &__minus
		display: inline-block
		vertical-align: top


.banner
	margin-bottom: 10px
	&s
		margin-top: 30px
		font-size: 0


.footer
	margin-top: 100px
	background: #f4f4f4	
	padding-top: 8px
	padding-bottom: 6px 
	&__address
		margin-right: 200px
		> p
			font-size: 18px
			margin-bottom: 4px
			font-weight: 400
	&__about
		width: 225px
		position: relative
		text-align: right
	&__logo
		position: absolute
		top: -4px
		left: 0
		img
			width: 89px
			height: 45px
	&__socials
		margin-bottom: 22px

.socials
	&__title, &__list
		display: inline-block
		vertical-align: middle
	&__title
		margin-right: 17px
		font-size: 16px
	&__list
		li
			margin-right: 6px
			&:last-of-type
				margin-right: 0
	i
		transition: .3s
		&:hover
			transform: scale(1.1)

.dev
	color: #979797
	font-size: 10px
	font-family: "Open Sans"
	a
		color: #767676
		border-color: #767676
		&:hover
			border-color: transparent


.callback
	display: none
	&__wrap
		z-index: 99
		position: absolute
		width: 515px
		background: white
		right: -47px
		top: 42px
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.25)
		border: 2px solid #3383c6
		border-radius: 4px
		padding: 20px 22px 35px 24px
	&__close
		position: absolute
		top: 7px
		right: 7px
		transition: .3s
		cursor: pointer
		&:hover
			transform: rotate(90deg)
	&__title
		font-size: 24px
		color: #181818
		margin-bottom: 18px
	&__body
		font-size: 0
	&__input
		margin-right: 21px
		margin-bottom: 20px
		width: 220px
		&:last-of-type
			margin-right: 0
	&__button
		display: inline-block
		width: 175px
	&__bg
		position: fixed
		z-index: 98
		top: 0
		left: 0
		width: 100%
		height: 100%


.cart-page
	.section
		&__title
			&:after
				width: 600px
	&__table
		margin-bottom: 34px
	&__left
		width: 600px
	&__right
		width: 180px

	
	&__item
		padding: 4px 7px
		font-size: 0
		&:nth-of-type(even)
			background: #eaf2f9
	&__img, &__title, &__increment, &__item-price, &__clear
		display: inline-block
		vertical-align: middle
		line-height: 56px
	&__img
		width: 58px
		height: 58px
		border: 1px solid #e2e2e2
		padding: 7px
		background: white
		img
			display: block
			width: 100%
			height: auto
	&__title
		font-size: 16px
		margin-left: 10px
		margin-right: 40px
		a
			color: #181818
	&__increment
		margin-right: 10px
		.increment
			position: relative
			top: 17px
	&__item-price
		position: relative
		top: -2px
		font-size: 24px
		font-weight: 700
		text-align: center
		width: 70px
		&:after
			display: inline-block
			content: 'р.'
	&__clear
		float: right
		position: relative
		top: 2px
		.icon
			cursor: pointer
			position: relative
	&__price
		font-size: 24px
		color: #424445
		margin-top: 15px
		span
			color: #3682c5
			font-weight: 700
			margin-left: 10px
	&__buttons
		
	&__button
		width: 273px
		height: 57px
		line-height: 55px
		border: 1px solid #9c9c9c
		background: white
		text-align: center
		border-radius: 7px
		font-size: 18px
		transition: .3s
		font-family: Calibri
		+ .policy
			display: block
			margin-left: 4px
			margin-top: 5px
			text-align: left
	.button
		&_gray
			color: #9c9c9c
			border-color: #9c9c9c
			&:hover
				color: white
				background: #9c9c9c
		&_blue
			color: #3682c5
			border-color: #3682c5
			&:hover
				color: white
				background: #3682c5

.order
	margin-top: -16px
	position: relative
	&:after
		position: absolute
		content: ''
		bottom: -7px
		height: 7px
		left: 0
		width: 100%
		background: url('../../img/bg/order.png') repeat-x top left
	&__head
		background: #d5d5d5
		text-align: center
		font-size: 18px
		line-height: 45px
		border-radius: 3px 3px 0 0
	&__body
		background: #ebebeb
		padding: 15px 13px 27px
	&__input
		display: block
		margin-left: auto
		margin-right: auto
		width: 100%
		margin-bottom: 8px
		border-radius: 4px
		padding-top: 6.5px
		padding-bottom: 6.5px
		
	&__input, &__textarea
		padding-left: 12px
		padding-right: 12px
	


.product-page
	margin-bottom: 45px
	&__images
		width: 372px
	&__content
		width: 413px
		padding-top: 15px
	&__title
		&:after
			width: 100%
	&__text
		color: #979797
		margin-bottom: 25px
	&__icons
		margin-bottom: 28px
	&__icon
		border: 1px solid #e2e2e2
		width: 131px
		line-height: 33px
		text-align: center
		margin-right: 10px
		color: #3682c5
		&:last-of-type
			margin-right: 0
		.icon
			margin-right: 7px
	&__price
		color: #4d4d4d
		background: #ebf3f9
		padding: 13px 15px 11px 20px
		margin-bottom: 25px
		&-item
			display: inline-block
			vertical-align: middle
			color: #c1c1c1
			text-align: center
			margin-right: 25px
			span
				display: block
				color: #4d4d4d
				font-size: 40px
				line-height: 25px
				font-weight: 700
				margin-bottom: 5px
		&-list
			display: inline-block
			vertical-align: middle
			font-size: 13px
			span
				margin-right: 20px
				&:last-of-type
					margin-right: 0
	&__buttons
		font-size: 0
	&__increment, &__button, &__fast
		display: inline-block
		vertical-align: middle
	
	&__increment
		.increment
			position: relative
			top: 4px		
	&__button
		margin-left: 11px
		margin-right: 11px
	&__fast
		width: 125px
		font-size: 13px
		border: 1px solid #e4e4e4
		text-align: center
		background: #ebebeb
		border-radius: 4px
		padding: 9px 5px





.image
	border: 1px solid #e2e2e2
	margin-bottom: 6px
	height: 372px
	line-height: 372px
	text-align: center
	img
		display: inline-block
		vertical-align: middle
		max-width: 334px
		max-height: 341px
		width: 100%

.images
	margin-left: -3px
	margin-right: -3px
	.slick-slide
		padding: 11px
		border: 1px solid #e2e2e2
		margin-left: 3px
		margin-right: 3px
	img
		width: 100%


.text-page
	&__title
		&:after
			width: 600px
	&__text
		p
			margin-bottom: 10px
		a
			color: #3682c5
			border-color: #3682c5

		h2
			font-size: 30px
			margin-bottom: 5px
		h3
			font-size: 24px
			margin-bottom: 5px
		h4
			font-size: 18px
			margin-bottom: 5px

		ul
			margin-top: 10px
			margin-bottom: 10px
			li
				position: relative
				display: block
				padding-left: 12px
				margin-bottom: 8px
				&:before
					content: ''
					position: absolute
					display: block
					width: 6px
					height: 6px
					top: 6px
					left: 0
					border-radius: 50%
					background: #d6322d
				&:last-of-type
					margin-bottom: 0
		img
			max-width: 100%
















.date
	margin-bottom: 14px
	margin-top: 11px
	input
		font-family: $font-family-1
		display: inline-block
		vertical-align: middle
		background: none
		width: 100px
		margin-left: 8px
		color: #3682c5
		cursor: pointer
		font-size: 14px
		// border-bottom: 1px dashed #3682c5








.policy
	display: inline-block
	font-size: 12px
	color: #9c9c9c
	margin-left: 21px
	position: relative
	top: 4px
	a
		color: #3682c5
		border-color: #3682c5
		&:hover
			border-color: transparent